# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log

# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de configuración locales
.env
*.env

# Base de datos local
instance/empleados.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros
*.bak
*.swp
.idea/
.vscode/